.settings-section {
	padding: 1rem;
	border-top: 1px solid #eee;
}

.setting-name {
	vertical-align: middle;
	justify-content: middle;
}

input[type="radio"] {
	margin-right: 1rem;
}

label {
	font-weight: 300;
}

button {
  font-size: 80%;
}

#page-header {
	margin-top: 1rem;
}